.preloader {
	$preload-spinner-size: 32px;
	$preload-spinner-width: 3px;
	position: fixed;
	inset: 0;
	display: flex;
	flex-direction: column;
	background-color: $white;
	justify-content: center;
	align-items: center;
	z-index: 125;
	gap: 30px;
	background-color: #fcfcff;
	@include transition(0.3s);
	&-logo {
		width: 200px;
		img {
			object-fit: cover;
		}
	}
	&-text {
		@include text-xl;
		@include font-bold;
		color: $black;
		span {
			@include transition(0.3s);
			animation: dotAppear 1s calc(var(--dot_index) * 0.3s) infinite;
		}
	}
}

@keyframes dotAppear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
